@import "tailwindcss";
@import "../styles.css";

.component-grid {
  --grid-columns: 1;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
}

.component-tile {
  --grid-index: sibling-index();
  --grid-count: sibling-count();
  --grid-last-row-size: calc(mod(var(--grid-count) - 1, var(--grid-columns)) + 1);
  --grid-last-row-start: calc(var(--grid-count) - var(--grid-last-row-size) + 1);
  --grid-top-right-index: min(var(--grid-count), var(--grid-columns));
  --grid-has-partial-last-row: min(1, calc(var(--grid-columns) - var(--grid-last-row-size)));
  --grid-is-top-row: min(1, max(0, calc(var(--grid-columns) + 1 - var(--grid-index))));
  --grid-is-first-column: max(0, calc(1 - mod(var(--grid-index) - 1, var(--grid-columns))));
  --grid-is-top-left: max(0, calc(2 - var(--grid-index)));
  --grid-is-top-right: max(0, calc(1 - abs(var(--grid-index) - var(--grid-top-right-index))));
  --grid-is-bottom-left: max(0, calc(1 - abs(var(--grid-index) - var(--grid-last-row-start))));
  --grid-is-last: max(0, calc(1 - abs(var(--grid-index) - var(--grid-count))));
  --grid-is-previous-row-end: max(
    0,
    calc(1 - abs(var(--grid-index) - var(--grid-last-row-start) + 1))
  );
  --grid-is-bottom-right: max(
    var(--grid-is-last),
    calc(var(--grid-has-partial-last-row) * var(--grid-is-previous-row-end))
  );
  border-color: var(--border);
  border-style: solid;
  border-width: 0;
  border-top-width: calc(var(--default-border-width) * var(--grid-is-top-row));
  border-right-width: var(--default-border-width);
  border-bottom-width: var(--default-border-width);
  border-left-width: calc(var(--default-border-width) * var(--grid-is-first-column));
  border-top-left-radius: calc(12px * var(--grid-is-top-left));
  border-top-right-radius: calc(12px * var(--grid-is-top-right));
  border-bottom-left-radius: calc(12px * var(--grid-is-bottom-left));
  border-bottom-right-radius: calc(12px * var(--grid-is-bottom-right));
}

@media (min-width: 701px) {
  .component-grid {
    --grid-columns: 2;
  }
}

@media (min-width: 1001px) {
  .component-grid {
    --grid-columns: 3;
  }
}

@media (min-width: 1440px) {
  .component-grid {
    --grid-columns: 4;
  }
}
